name: Deploy Frontend (Azure Storage)

on:
  push:
    branches: [ main ]
    paths:
      - "crc-frontend/**"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Upload static site
        uses: Azure/cli@v1
        with:
          inlineScript: |
            az storage blob upload-batch \
              --account-name ${{ secrets.STORAGE_ACCOUNT_NAME }} \
              --account-key ${{ secrets.STORAGE_ACCOUNT_KEY }} \
              --destination '$web' \
              --source crc-frontend \
              --overwrite
